{% extends 'base.html' %}

{% block title %}Book your seat{% endblock %}
{% load static %}

{% block body %}

<link rel="stylesheet" type = "text/css" href="{% static 'css/box.css' %}" >

<h2>Book your seat</h2><br>
<form method="POST">
{% csrf_token %}
<div class = "row">
<div class = "col-lg-4">
    <div class = "container" style = "width: 600px; height = 500px;">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="https://github.com/Yash153/Travels_agency_website/blob/master/ttapp/static/images/md/GOI.jpg?raw=true" class="d-block w-100 " alt="...">
            </div>
            <div class="carousel-item">
            <img src="https://github.com/Yash153/Travels_agency_website/blob/master/ttapp/static/images/md/HA.png?raw=true" class="d-block w-100 " alt="...">
            </div>
            <div class="carousel-item">
            <img src="https://github.com/Yash153/Travels_agency_website/blob/master/ttapp/static/images/md/KNG.jpg?raw=true" class="d-block w-100 " alt="...">
            </div>
            <div class="carousel-item">
            <img src="https://github.com/Yash153/Travels_agency_website/blob/master/ttapp/static/images/md/NSC.jpg?raw=true" class="d-block w-100 " alt="...">
            </div>
            {% comment %} <div class="carousel-item">
            <img src="{% static 'images/md/TWA.png' %}" class="d-block w-100 " alt="...">
            </div> {% endcomment %}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div><br>
    <!--<div class = "box col-lg-4" id = "box">
        something
    </div>>-->
</div>
<div class = "form col-lg-8" >
Package Name: Mumbai Darshan
<br><br>
Select boarding point:
<select id="slct2" name="slct2" required>
	<option value="" disabled selected>Select an option</option>
    <option value="Shivaji Chowk KYN">Shivaji Chowk,KYN</option>
    <option value="Sector 17 UNR">Sector 17,UNR</option>
    <option value="Matka Chowk AMB">Matka Chowk,AMB</option>
    <option value="Shuchak Naka DOM">Shuchak Naka,DOM</option>
    <option value="Shilphata DOM">Shilphata,DOM</option>
    <option value="Check Naka TH">Check Naka,TH</option>
</select>
<br><br>
Enter number of passengers: <input type="number" required min="1" max="52" placeholder="" name="nop" id="nop" onchange="fare()">
<br><br>
<div class="container">


                <div class='input-group date input-group-sm' id='datepicker1' style = "width: 40%">
                    <input type='text' class="form-control form-control-sm" name="datepicker1" required style="height: 7px;" placeholder = "Date of travel">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

<br>

<input type="text" readonly id="total" name="total" placeholder = "Payable amount">
<br><br>
Payment mode:  <input type="radio" id="offline" name="payment" value="offline" checked>
  <label for="offline">Offline</label>
  <input type="radio" id="online" name="payment" value="online">
  <label for="online">Online</label><br><br>
<p id = "as" name = "as">Available seats: {{ seats_available }}</p>
<input type="submit" class="btn btn-success" value="Book"><br>
{{ msg }}

</div>
</div>
</form>



{% comment %} Datepicker {% endcomment %}
        <script type="text/javascript">
            $(function() {



                Date.prototype.addDays = function(days) {//Function to add days to a selected date
   			        var date = new Date(this.valueOf());
 			        date.setDate(date.getDate() + days);
  				    return date;
			    }
			    // var date1 = new Date();
			    // date1 = date1.addDays(5);
			    function convert(date1) { // Convert Jul 31,2021 format to %d-%m-%Y we have to convert in this format because date are i=only disabled if they are in this format
 			 	    var date = new Date(date1),
    				mnth = (""+(date.getMonth() + 1)).slice(-2),
    				day = (""+date.getDate()).slice(-2);
  				    return [day, mnth, date.getFullYear()].join("-");
			    }
			    //var date2 = convert(date1)
			    //console.log(date2);
                // disableSpecificDates.push(date2)
                // d1 = disableSpecificDates[0]
                // d2 = disableSpecificDates[1]
                // console.log(d1)
                // console.log(d2)
                // console.log(typeof d1)
                // console.log(Object.values(disableSpecificDates[0]))
                // d2 = typeof disableSpecificDates
                // d3 = typeof d1
                // console.log(typeof d1)
                // document.getElementById("d2").innerHTML = d2;
                // document.getElementById("d3").innerHTML = d3;
                // document.getElementById("d1").innerHTML = d1;
                // var disableSpecificDates = ['30-7-2021'];
                // console.log(disableSpecificDates)
                // document.getElementById("demo").innerHTML = disableSpecificDates;

                var date = new Date();
                date = date.addDays(1)
                var date_next_60days = new Date();
                date_next_60days = date_next_60days.addDays(60);
                $('#datepicker1').datepicker({
                    //daysOfWeekDisabled: [1,2,3,4], //Disable days mon to thrus for Ashtavinayak Darshan Booking
                    format: 'mm/dd/yyyy',
                    startDate: date,
                    endDate: date_next_60days,
                    autoclose: true,
                    orientation: "top left",
                });
                //$('#datepicker1').datepicker("setDate", date);
            });
        </script>
        {% comment %} Datepicker end {% endcomment %}


<script type="text/javascript">
{% comment %}
<!--For onchange select-->

    function populate(s1,s2){
        var s1 = document.getElementById(s1);
        var s2 = document.getElementById(s2);
        s2.innerHTML = "";
        if(s1.value == "mumbai darshan"){
            var optionArray = ["|","sck|Shivaji Chowk,KYN","s1u|Sector 17,UNR","mca|Matka Chowk,AMB","snd|Shuchak Naka,DOM", "sd|Shilphata,DOM","cnt|Check Naka,TH"];
        } else if(s1.value == "ashtavinayak darshan"){
            var optionArray = ["|","sck|Shivaji Chowk,KYN","rnk|Ranjnoli,KYN","jht|Jupiter Hospital,TH"];
        } else if(s1.value == "shirdi"){
            var optionArray = ["|","snb|Sawad Naka,BHW","hba|HDFC Bank,ASN","pos|Post Office,SHA"];
        }
        for(var option in optionArray){
            var pair = optionArray[option].split("|");
            var newOption = document.createElement("option");
            newOption.value = pair[0];
            newOption.innerHTML = pair[1];
            s2.options.add(newOption);
        }
    }
// onchange select end {% endcomment %}

// Dynamic price box
    function fare() {
        var ip = 650;
        var nop = parseInt(document.getElementById('nop').value);
        var t = document.getElementById('total');
        var f = nop * ip;
        t.value = f;
    }
</script>
{% comment %} End dynamic price box {% endcomment %}

{% endblock %}
