{% extends 'base.html' %}

{% block title %}Book your seat{% endblock %}

{% block body %}


<h2>Book your seat</h2><br>
<form method="POST">
{% csrf_token %}
Select a package: 
<select id="slct1" name="slct1" onchange="populate(this.id,'slct2')">
  <option value="" disabled selected>Select an option</option>
  <option value="mumbai darshan">Mumbai Darshan</option>
  <option value="ashtavinayak darshan">Ashtavinayak Darshan</option>
  
  <option value="shirdi">Shirdi</option>
</select>
<br><br>    
Select boarding point:
<select id="slct2" name="slct2">
	<option value="" disabled selected>Select an option</option>
</select>
<br><br>
<input type="number" required min="1" max="52" placeholder="Enter number of passengers" name="nop" id="nop" onchange="fare()">
<br><br>
<div class="container" style="width: 28%;">

        
                <div class='input-group date' id='datepicker1'>
                    <input type='text' class="form-control" name="datepicker1">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
        
<br>
<input type="text" readonly id="total" name="total">
<br><br>
<input type="submit" value="Book">
</form>

<p id="demo"> </p>
<h6 id="d1"></h6>

<h4 id="d2"></h4>
<h4 id="d3"></h4>
{{ msg }}

{% comment %} Datepicker {% endcomment %}
        <script type="text/javascript">
            $(function() {
                var disableSpecificDates = {{ db|safe }}
                console.log(disableSpecificDates)


                Date.prototype.addDays = function(days) {//Function to add days to a selected date
   			        var date = new Date(this.valueOf());
 			        date.setDate(date.getDate() + days);
  				    return date;
			    }
			    // var date1 = new Date();
			    // date1 = date1.addDays(5);
			    function convert(date1) { // Convert Jul 31,2021 format to %d-%m-%Y we have to convert in this format because date are i=only disabled if they are in this format
 			 	    var date = new Date(date1),
    				mnth = (""+(date.getMonth() + 1)).slice(-2),
    				day = (""+date.getDate()).slice(-2);
  				    return [day, mnth, date.getFullYear()].join("-");
			    }
			    //var date2 = convert(date1)
			    //console.log(date2);
                // disableSpecificDates.push(date2)
                // d1 = disableSpecificDates[0]
                // d2 = disableSpecificDates[1]
                // console.log(d1)
                // console.log(d2)
                // console.log(typeof d1)
                // console.log(Object.values(disableSpecificDates[0]))
                // d2 = typeof disableSpecificDates
                // d3 = typeof d1
                // console.log(typeof d1)
                // document.getElementById("d2").innerHTML = d2;
                // document.getElementById("d3").innerHTML = d3;
                // document.getElementById("d1").innerHTML = d1;
                // var disableSpecificDates = ['30-7-2021'];
                // console.log(disableSpecificDates)
                // document.getElementById("demo").innerHTML = disableSpecificDates;

                var date = new Date();
                date = date.addDays(1)
                var date_next_60days = new Date();
                date_next_60days = date_next_60days.addDays(60);
                $('#datepicker1').datepicker({
                    //daysOfWeekDisabled: [1,2,3,4], //Disable days mon to thrus for Ashtavinayak Darshan Booking
                    format: 'mm/dd/yyyy',
                    startDate: date,
                    endDate: date_next_60days,
                    beforeShowDay: function(date) {
                        dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
                        if (disableSpecificDates.indexOf(dmy) != -1) {
                            return false;
                        }
                        else {
                            return true;
                        }
                    }
                });
                //$('#datepicker1').datepicker("setDate", date);
            });
        </script>
        {% comment %} Datepicker end {% endcomment %}



<!--For onchange select-->
<script type="text/javascript">
    function populate(s1,s2){
        var s1 = document.getElementById(s1);
        var s2 = document.getElementById(s2);
        s2.innerHTML = "";
        if(s1.value == "mumbai darshan"){
            var optionArray = ["|","sck|Shivaji Chowk,KYN","s1u|Sector 17,UNR","mca|Matka Chowk,AMB","snd|Shuchak Naka,DOM", "sd|Shilphata,DOM","cnt|Check Naka,TH"];
        } else if(s1.value == "ashtavinayak darshan"){
            var optionArray = ["|","sck|Shivaji Chowk,KYN","rnk|Ranjnoli,KYN","jht|Jupiter Hospital,TH"];
        } else if(s1.value == "shirdi"){
            var optionArray = ["|","snb|Sawad Naka,BHW","hba|HDFC Bank,ASN","pos|Post Office,SHA"];
        }
        for(var option in optionArray){
            var pair = optionArray[option].split("|");
            var newOption = document.createElement("option");
            newOption.value = pair[0];
            newOption.innerHTML = pair[1];
            s2.options.add(newOption);
        }
    }
// onchange select end

// Dynamic price box
    function fare() {
        var ip = 0.0
        var nop = parseInt(document.getElementById('nop').value)
        var p = document.getElementById('slct1')
        var t = document.getElementById('total')
        if(p.value == 'mumbai darshan'){
            ip = 650
        }
        else if(p.value == 'ashtavinayak darshan'){
            ip = 2700
        }
        else if(p.value == 'shirdi'){
            ip = 600
        }
        var f = nop * ip
        t.value = f
    }
</script>
{% comment %} End dynamic price box {% endcomment %}

{% endblock %}