{% extends 'base.html' %}




{% block title %} Contact Us {% endblock %}




{% block body %}

  <style>

	.social-links a {
  font-size: 18px;
  display: inline-block;
  background: white;
  color: black;
  padding: 8 0;
  line-height: 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;

}

.social-links a:hover {
  background: #6b6b6b; justify-content: center;
  color: #fff;
  text-decoration: none;
}


    .info-box {
      color: #444444;
      text-align: center;
      box-shadow: 0 0 50px rgba(214, 215, 216, 1.5);
      padding: 30px 0 32px 0;
      border-radius: 4px;

    }

    .info-box i {
      font-size: 32px;
      color: #e03a3c;
      border-radius: 50%;
      padding: 8px;
      border: 4px dotted #f8d4d5;
    }

    .info-box h3 {
      font-size: 26px;
      color: #777777;
      font-weight: 700;
      margin: 10px 0;
    }

    .info-box p {
      padding: 0;
      line-height: 24px;
      font-size: 18px;
      margin-bottom: 0;
    }

    .info-box p a{
      color: #707070;
      text-decoration: none;
    }

    .info-box p a:hover{
      color: #000000;
    }
  </style>

		<br>
		<h1 style = "font-size : 40px; color: #54451d; font-family : 'Sitka Text';"> Reach Us </h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.0065941247863!2d73.13348721473233!3d19.238544386994924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7942d25da7f39%3A0x1fb44948516e504!2sGUIDE%20TOURS%20%26%20TRAVELS!5e0!3m2!1sen!2sin!4v1631113224908!5m2!1sen!2sin" width="750" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

 <br><br>
    <div class="col-lg-6" >
      <div class="row">
        <div class="col-md-12" >
          <div class="info-box" >
            <i class="fas fa-map-marker-alt"></i>
            <h3>Our Address</h3>
            <p><pre style = "font-family: Times New Roman">  Guide tours and travels, Kalyan-Murbad Road, Giri Colony,
Near Datta Mandir, Kalyan West, Mumbai,
  Maharashtra 421301</pre></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-box mt-4" style = "width = 100px;">
            <i class="far fa-envelope"></i>
            <h3>Email Us</h3>
            <p> <a href="mailto:syashshrivastav@gmail.com"> syashshrivastav@gmail.com </a></p>
            <pre></pre>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-box mt-4">
            <i class="fas fa-phone-alt"></i>
            <h3>Call Us</h3>
            <p>Bookings: <a href="tel: +919820727440"> +91 9820727440 </a><br>Online Payment Queries: <a href="tel: +918286339660"> +91 8286339660</a></p>
          </div>
        </div>
      </div>
    </div>

   <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="social-links text-center text-md-right pt-3 pt-md-0">

	<div style = "padding-left: 573px">
        <a href="https://www.linkedin.com/in/yash-shrivastav-580a991b0/" class="linkedin"><i class="fab fa-linkedin"></i></a>
        <a href = "https://github.com/Yash153"><i class = "fab fa-github"></i></a>
        <a href="https://api.whatsapp.com/send/?phone=+918286339660&text=Hi%21%21%21&app_absent=0"><i class="fab fa-whatsapp"></i></a>
	</div>
      </div>
</div>
</div>



<script src="https://kit.fontawesome.com/310d21a87c.js" crossorigin="anonymous"></script>

  <!------------------------Code Ends here!----------------------------->

{% endblock %}